@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;

* {
	scrollbar-width: thin;
	scrollbar-color: #121212;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #080808;
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: #121212;
	border-radius: 10px;
	border: 3px solid #121212;
}

@tailwind components;
@tailwind utilities;
